.bridge-devil{
  min-height: 451px;

  width: 320px;
  margin: 0 auto;

  font-family: 'PTSansWebRegular',Arial,sans-serif;
  font-size: 14px;
  line-height: 21px;

  background-color: #81b3d2;
  color: #fff;
}

.bridge-devil__description{
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 27px;

  min-height: 105px;

  text-align: center;
}

.bridge-devil__header{
  margin: 0;
  margin-bottom: 8px;

  font-family: 'PTSansWebBold',Arial,sans-serif;
  font-size: 18px;
  line-height: 26px;

  text-transform: uppercase;
}

.bridge-devil__text{
  text-transform: uppercase;
}

.bridge-devil__image{
  width: 320px;
  height: 260px;

  display: block;

  background-color: #be4e45;
}

@media(min-width: $tablet-width){
  .bridge-devil{
    min-height: 216px;

    width: $tablet-width;
  }

  .bridge-devil__header{
    margin: 0px 8px;
    margin-bottom: 10px;

    font-size: 21px;
  }

  .bridge-devil__text{
    margin: 0;
    margin-top: 20px;
  }

  .bridge-devil__wrapper{
    display: flex;
    flex-direction: row-reverse;
  }

  .bridge-devil__description{
    width: 166px;

    padding-top: 45px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 30px;

    min-height: 166px;
  }

  .bridge-devil__image{
    width: 512px;
    height: 256px;
    flex-grow: 1;
  }
}

@media(min-width: $desktop-width){
  .bridge-devil{
    min-height: 256px;

    width: $desktop-width;
  }

  .bridge-devil__description{
    width: 310px;

    padding-top: 53px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 53px;

    min-height: 137px;
  }

  .bridge-devil__header{
    margin-left: 80px;
    margin-right: 80px;
  }

  .bridge-devil__text{
    margin-left: 41px;
    margin-right: 41px;
  }
}
