.city{
  width: 320px;
  margin: 0 auto;

  font-family: 'PTSansWebRegular',Arial,sans-serif;
  font-size: 14px;
  line-height: 21px;

  background-color: #fff;
  color: #333;
}

.city__description{
  padding-top: 57px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 27px;

  text-align: center;

  display: flex;
  flex-direction: column;
}

.city__image{
  width: 320px;
  height: 260px;

  display: block;

  background-color: #be4e45;
}

.city__list{
  @include list-reset();

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media(min-width: $tablet-width){
  .city{
    min-height: 586px;

    width: $tablet-width;
  }

  .city__wrapper{
    display: flex;

    min-height: 256px;
  }

  .city__list{
    flex-direction: row;
  }

  .city__description{
    width: 166px;
  }

  .city__image{
    flex-grow: 1;

    width: 512px;
    height: 256px;
  }

  .city__description{
    padding-top: 45px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 30px;
  }
}

@media(min-width: $desktop-width){
  .city{
    width: $desktop-width;
  }

  .city__description{
    width: 310px;
  }

  .city__image {
    width: 800px;
    height: 256px;
  }

  .city__description{
    padding-top: 52px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 58px;
  }
}
