.emotion{
  width: 320px;
  margin: 0 auto;

  font-family: 'PTSansWebRegular',Arial,sans-serif;
  font-size: 14px;
  line-height: 26px;

  background-color: #fff;
  color: #333;
}

.emotion__wrapper{
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 37px;

  display: flex;
  flex-direction: column;
}

.emotion__header{
  text-align: center;
  margin-top: 8px;
  margin-bottom: 17px;

  font-family: 'PTSansWebBold',Arial,sans-serif;
  font-size: 18px;
  line-height: 26px;

  color: #000;
  text-transform: uppercase;
}

.emotion__bond{
  font-family: 'PTSansWebRegular',Arial,sans-serif;
  font-size: 14px;
  line-height: 26px;

  background-color: #fff;
  color: #333;
  text-transform: uppercase;
}

.emotion__description{
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;

  margin-bottom: 51px;
  height: 128px;

  font-family: 'PTSansWebBold',Arial,sans-serif;
  font-size: 18px;
  line-height: 26px;

  background-color: #f2f2f2;
  color: #000;
  text-transform: none;
  border: 4px solid #f2f2f2;
  resize: none;

  &:hover{
    background-color: #e5e5e5;
    color: #000;
    border: 4px solid #e5e5e5;
  }

  &:active,
  &:focus{
    background-color: #fff;
    border: 4px solid #e5e5e5;
  }
}

.emotion__button{
  padding: 16px;
  display: block;

  font-family: 'PTSansWebBold',Arial,sans-serif;
  font-size: 21px;
  line-height: 26px;

  text-transform: uppercase;
  border: none;
}

.emotion__button--blue{
  background-color: #81b3d2;

  color: #fff;
}

.emotion__button--blue:hover,
.emotion__button--blue:focus{
  background-color: #669ec0;

  color:#fff;
}

.emotion__button--blue:active{
  background-color: #5496bd;

  color: #88b6d1;
}

.emotion__button--blue:disabled{
  background-color: #e5e5e5;

  color: #fff;
}

@media (min-width: $tablet-width){
  .emotion{
    width: $tablet-width;
  }

  .emotion__wrapper{
    padding-top: 25px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 46px;

    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
  }

  .emotion__header{
    width: 100%;
    margin-top: 12px;

    font-size: 21px;
  }

  .emotion__description{
    width: 93.5%;
    margin-top: 40px;
    margin-bottom: 58px;

    padding-left: 18px;
    padding-right: 18px;
  }

  .emotion__button{
    width: 50%;
    margin-bottom: 15px;
  }

  .emotion__bond{
    width: 50%;
    text-align: right;
  }
}

@media (min-width: $desktop-width){
  .emotion{
    width: $desktop-width;
  }

  .emotion__wrapper{
    padding-top: 31px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 51px;
  }

  .emotion__description{
    width: 95.5%;
  }
}
