.hotel{
  min-height: 637px;

  width: 320px;
  margin: 0 auto;

  font-family: 'PTSansWebRegular',Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;

  background-color: #fff;
  color: #000
}

.hotel__description{
  min-height: 211px;

  padding-top: 28px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 48px;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.hotel__header{
  padding: 0;
  margin: 0;

  font-family: 'PTSansWebBold',Arial,sans-serif;
  font-size: 21px;
  line-height: 26px;

  text-transform: uppercase;
}

.hotel__text{
  margin-top: 19px;
  flex-grow: 1;

  font-family: inherit;
  font-size: 14px;
  line-height: 24px;

  color: #333;
  text-transform: uppercase;
}

.hotel__button{
  padding: 17px;
  margin: 0;

  font-family: 'PTSansWebBold',Arial,sans-serif;
  font-size: 21px;
  line-height: 26px;

  text-transform: uppercase;
  border: none;
}

.hotel__button--blue{
  background-color: #81b3d2;

  color: #fff;
}

.hotel__button--blue:hover,
.hotel__button--blue:focus{
  background-color: #669ec0;

  color:#fff;
}

.hotel__button--blue:active{
  background-color: #5496bd;

  color: #88b6d1;
}

.hotel__button--blue:disabled{
  background-color: #e5e5e5;

  color: #fff;
}

.hotel__map{
  width: 320px;
  height: 350px;

  display: block;

  background-color: coral;
}

@media(min-width: $tablet-width){
  .hotel{
    min-height: 668px;

    width: $tablet-width;
    margin: 0 auto;
  }

  .hotel__description{
    min-height: 268px;

    padding: 25px;
  }

  .hotel__header{
    margin-top: 30px;
    margin-bottom: 12px;

    font-size: 30px;
  }

  .hotel__text{
    margin-left: 120px;
    margin-right: 120px;
  }

  .hotel__button{
    width: 458px;
    margin: auto;
    margin-bottom: 32px;
  }

  .hotel__map{
    width: $tablet-width;
    height: 350px;
  }
}

@media(min-width: $desktop-width){
  .hotel{
    min-height: 681px;

    width: $desktop-width;
    margin: 0 auto;
  }

  .hotel__text{
    margin-left: 300px;
    margin-right: 300px;
  }

  .hotel__button{
    margin-top:32px;
    margin-bottom: 40px;
  }

  .hotel__map{
    width: $desktop-width;
    height: 350px;
  }
}
