.impress{
  font-family: 'PTSansWebBold',Arial,sans-serif;
  font-size: 18px;
  line-height: 26px;

  color: #000;
}

.impress__header{
  padding: 0;
  margin: 0;

  font-family: 'PTSansWebBold',Arial,sans-serif;
  font-size: 18px;
  line-height: 26px;

  text-transform: uppercase;
  text-align: center;
}

.impress__list{
  @include list-reset();

  margin-top: 17px;

  display: flex;
  flex-direction: column;
}

.impress__item{
  display: flex;
}

.impress__label{
  padding-top: 20px;
  padding-left: 79px;
  padding-bottom: 23px;

  flex-grow: 1;
}

@media (min-width: $tablet-width) {
  .impress{
    padding: 0;
  }

  .impress__header{
    margin-top: 5px;

    font-size: 21px;
    text-align: left;
  }

  .impress__list{
    margin-top: 53px;
  }

  .impress__item{
    margin-bottom: 12px;
  }

  .impress__label{
    padding-left: 76px;
    padding-bottom: 20px;
  }
}

@media(min-width: $desktop-width){
  .impress__header{
    margin-top: 27px;
    margin-left: 80px;
  }

  .impress__label{
    padding-left: 80px;
  }
}
