.meaning-other{
  width: 320px;
  margin: 0 auto;

  min-height: 189px;

  font-family: 'PTSansWebRegular',Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;

  background-color: $bg-meaning;
}

.meaning-other__description{
  padding-top: 44px;
  padding-left: 22px;
  padding-right: 20px;
  padding-bottom: 34px;

  min-height: 111px;
}

.meaning-other__header{
  padding: 0;
  margin: 0;

  font-family: 'PTSansWebBold',Arial,sans-serif;
  font-size: 18px;
  line-height: 26px;

  text-transform: uppercase;
}

.meaning-other__text{
  padding: 0;
  margin: 0;

  font-family: inherit;
  font-size: 14px;
  line-height: 26px;

  text-transform: uppercase;
  color: $ft-meaning-text;
}

@media (min-width: $tablet-width) {
  .meaning-other{
    width: $tablet-width;

    min-height: 248px;
  }

  .meaning-other__description{
    padding: 75px 163px;

    min-height: 98px;
  }
}

@media (min-width: $desctop-width) {
  .meaning-other{
    width: $desctop-width;

    min-height: 287px;
  }

  .meaning-other__description{
    padding-top: 114px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 75px;

    min-height: 98px;
  }
}
