.meaning-other{
  width: 320px;
  margin: 0 auto;

  min-height: 189px;

  font-family: 'PTSansWebRegular',Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;

  background-color: #fff
}

.meaning-other__description{
  padding: 24px 20px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;

  min-height: 111px;
}

.meaning-other__description--form{
  padding: 24px 20px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;

  min-height: 111px;
}

.meaning-other__header{
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  margin-top: 15px;

  font-family: 'PTSansWebBold',Arial,sans-serif;
  font-size: 18px;
  line-height: 26px;

  text-transform: uppercase;
}

.meaning-other__text{
  margin-top: 0;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 6px;

  flex-grow: 1;

  font-family: inherit;
  font-size: 14px;
  line-height: 24px;

  text-transform: uppercase;
  color: #333;
}

.meaning-other__text--form{
  margin: 0;
  flex-grow: 1;

  font-family: inherit;
  font-size: 14px;
  line-height: 24px;

  text-transform: uppercase;
  color: #333;
}

@media (min-width: $tablet-width) {
  .meaning-other{
    width: $tablet-width;

    min-height: 248px;
  }

  .meaning-other__description{
    padding: 60px;
  }

  .meaning-other__description--form{
    padding: 60px;
  }

  .meaning-other__header{
    margin-top: 14px;

    font-size: 30px;
  }

  .meaning-other__text{
    margin-left: 109px;
    margin-right: 109px;
    margin-top: 6px;
  }

  .meaning-other__text--form{
    margin-top: 7px;
    margin-left: 102px;
    margin-right: 102px;
  }
}

@media (min-width: $desktop-width) {
  .meaning-other{
    width: $desktop-width;
  }

  .meaning-other__description{
    min-height: 167px;
  }

  .meaning-other__description--form{
    padding-bottom: 30px;
  }

  .meaning-other__header{
    margin-top: 51px;
  }

  .meaning-other__text{
    margin-left: 320px;
    margin-right: 320px;
  }

  .meaning-other__text--form{
    margin-left: 320px;
    margin-right: 324px;
  }
}
