.others-causes{
  min-height: 503px;

  width: 320px;
  margin: 0 auto;

  font-family: 'PTSansWebRegular',Arial,sans-serif;
  font-size: 14px;
  line-height: 21px;

  background-color: $bg-container;
  color: $ft-others-cause;
}

.others-causes__list{
  @include list-reset();

  padding-top: 33px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 33px;

  min-height: 437px;
}

.others-causes__header{
  font-family: 'PTSansWebBold',Arial,sans-serif;
  font-size: 18px;
  line-height: 26px;

  text-transform: uppercase;
}

.others-causes__text{
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;

  color: $ft-others-cause-text;
  text-transform: uppercase;
}

@media(min-width: $tablet-width){
  .others-causes{
    min-height: 256px;

    width:  $tablet-width;
    margin: 0 auto;
  }

  .others-causes__list{
    display: flex;

    padding-top: 50px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 40px;

    min-height: 166px;
  }

  .others-causes__item{
    margin-left: 45px;
    margin-right: 45px;
  }
}

@media(min-width: $desctop-width){
  .others-causes{
    min-height: 256px;

    width:  $desctop-width;
    margin: 0 auto;
  }

  .others-causes__list{
    display: flex;

    padding-top: 50px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 40px;

    min-height: 166px;
  }

  .others-causes__item{
    margin-left: 47px;
    margin-right: 47px;
  }
}
