.page-footer__wrapper{
  font-family: 'PTSansWebRegular',Arial,sans-serif;
  font-size: 14px;
  line-height: 26px;

  background-color: $bg-footer;
}

.page-footer__tags{
  font-family: 'PTSansWebBold',Arial,sans-serif;
  font-size: 21px;
  line-height: 26px;

  text-transform: uppercase;
}
