.page-footer{
  min-height: 243px;

  width: 320px;
  margin: 0 auto;

  font-family: 'PTSansWebRegular',Arial,sans-serif;
  font-size: 14px;
  line-height: 26px;

  background-color: #fff;
}

.page-footer__wrapper{
  padding-top: 41px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 23px;

  min-height: 179px;
}

.page-footer__tags{
  font-family: 'PTSansWebBold',Arial,sans-serif;
  font-size: 21px;
  line-height: 26px;

  text-transform: uppercase;
}

.social__link--blue{
  background-color: $bg-blue;

  color: $ft-blue;
}

.social__link--blue:hover,
.social__link--blue:focus{
  background-color: $bg-blue-hover;

  color:$ft-blue-hover;
}

.social__link--blue:active{
  background-color: $bg-blue-down;

  color: $ft-blue-down;
}

.social__link--blue:disabled{
  background-color: $bg-blue-disabled;

  color: $ft-blue-disabled;
}

@media(min-width: $tablet-width){
  .page-footer{
    min-height: 120px;

    width: $tablet-width;
  }

  .page-footer__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 36px 60px;

    min-height: 48px;
  }
}

@media(min-width: $desctop-width){
  .page-footer{
    width: $desctop-width;
  }

  .page-footer__wrapper{
    padding: 36px 160px;
  }
}
