.photo{
  min-height: 1656px;

  width: 320px;
  margin: 0 auto;

  font-family: 'PTSansWebRegular',Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;

  background-color: #fff;
  color: #333;
}

.photo__list{
  @include list-reset();

  padding: 21px 20px;

  min-height: 1613px;
}

.photo__item{
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
}

.photo__item:nth-last-child(1){
  padding-bottom: 0;
}

.photo__wrapper{
  order: 2;

  display: flex;
  flex-direction: column;
}

.photo__image,
.photo__image--wide{
  background-color: rgb(219, 163, 163);

  order:1;
}

.photo__header{
  padding: 0;
  margin: 0;
  margin-top: 15px;

  font-family: 'PTSansWebBold',Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;

  color: #000;
  text-transform: uppercase;
}

.photo__text{
  margin: 0;
}

.photo__like{
  padding: 0;
  margin: 0;
  margin-top: 8px;
  margin-left: 37px;

  font-family: 'PTSansWebBold',Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;

  color: #000;
}

.photo__like--wide{
  padding: 0;
  margin: 0;
  margin-top: 8px;
  margin-left: 37px;

  font-family: 'PTSansWebBold',Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;

  color: #000;
}

.photo__image{
  width: 280px;
  height: 280px;
}

@media (min-width: $tablet-width){
  .photo{
    min-height: 1174px;
    width: $tablet-width;
  }

  .photo__list{
    padding: 0 60px;

    display: flex;
    flex-wrap: wrap;

    min-height: 1174px;
  }

  .photo__item{
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 324px;

    min-height: 347px;
  }

  .photo__item--wide{
    width: $tablet-width;
  }

  .photo__wrapper{
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 17px;

    order: 2;
    height: 48px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .photo__header{
    margin: 0;
  }

  .photo__header,
  .photo__text{
    width: 70%;
  }

  .photo__like{
    margin-top: 13px;
    margin-left: 18%;
    width: 12%;
    flex-grow: 1;
  }

  .photo__image{
    order: 1;

    width: 324px;
    height: 267px;
  }

  .photo__image--wide{
    width: 648px;
    height: 400px;
  }

  .photo__like--wide{
    margin-top: 13px;
    margin-left: 24.5%;
    width: 5.5%;
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width){
  .photo{
    min-height: 667px;
    width: $desktop-width;
  }

  .photo__list{
    padding: 0;

    min-height: 667px;
  }

  .photo__item{
    width: 400px;

    min-height: 267px;
  }

  .photo__wrapper{
    background-color: rgba($color: #000, $alpha:.3);
    margin-top: -80px;
  }

  .photo__header,
  .photo__text,
  .photo__like,
  .photo__like--wide{
    color: #fff;
  }

  .photo__like{
    margin-left: 21%;
    width: 9%;
  }

  .photo__like--wide{
    margin-left: 27%;
    width: 3%;
  }

  .photo__image{
    width: 400px;
    height: 267px;
  }

  .photo__image--wide{
    width: 1200px;
    height: 400px;
  }

  .photo__item--wide{
    width: $desktop-width;
  }
}
