.photo{
  min-height: 1656px;

  width: 320px;
  margin: 0 auto;

  font-family: 'PTSansWebRegular',Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;

  background-color: $bg-main;
  color: $ft-main;
}

.photo__image,
.photo__image--wide{
  background-color: #ccc;
}

.photo__list{
  @include list-reset();

  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 21px;

  min-height: 1613px;
}

.photo__header{
  padding: 0;
  margin: 0;

  font-family: 'PTSansWebBold',Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;

  color: $ft-container;
  text-transform: uppercase;
}

.photo__like{
  padding: 0;
  margin: 0;

  font-family: 'PTSansWebBold',Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;

  color: $ft-container;
}

.photo__image{
  width: 280px;
  height: 280px;
}

@media (min-width: $tablet-width){
  .photo{
    min-height: 1174px;
    width: $tablet-width;
  }

  .photo__list{
    padding: 0 60px;

    display: flex;
    flex-wrap: wrap;

    min-height: 1174px;
  }

  .photo__item{
    display: flex;
    flex-direction: column;
    width: 324px;

    min-height: 347px;
  }

  .photo__item--wide{
    width: $tablet-width;
  }

  .photo__wrapper{
    order: 2;

    padding-top: 22px;
    padding-left: 20px;
    padding-right: 21px;
    padding-bottom: 21px;

    min-height: 37px;
  }

  .photo__image{
    order: 1;

    width: 324px;
    height: 267px;
  }

  .photo__image--wide{
    width: 648px;
    height: 400px;
  }
}

@media (min-width: $desctop-width){
  .photo{
    min-height: 667px;
    width: $desctop-width;
  }

  .photo__list{
    padding: 0;

    min-height: 667px;
  }

  .photo__item{
    width: 400px;

    min-height: 267px;
  }

  .photo__wrapper{
    background-color: rgba($color: #000, $alpha:.3);
    margin-top: -80px;
  }

  .photo__image{
    width: 400px;
    height: 267px;
  }

  .photo__image--wide{
    width: 1200px;
    height: 400px;
  }

  .photo__item--wide{
    width: $desctop-width;
  }
}
