.places-visited{
  width: 320px;
  margin: 0 auto;

  min-height: 409px;

  font-family: 'PTSansWebBold',Arial,sans-serif;
  font-size: 18px;
  line-height: 26px;

  background-color: $bg-main;
  color: $ft-container;
}

.places-visited__wrapper{
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;

  min-height: 354px;
}

.places-visited__header{
  padding: 0;
  margin: 0;

  font-family: 'PTSansWebBold',Arial,sans-serif;
  font-size: 18px;
  line-height: 26px;

  text-transform: uppercase;
}

.places-visited__list{
  @include list-reset();
}

@media (min-width: $tablet-width){
  .places-visited{
    width: $tablet-width;
    min-height: 306px;
  }

  .places-visited__wrapper{
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 63px;

    min-height: 233px;
  }
}

@media (min-width: $desctop-width){
  .places-visited{
    width: $desctop-width;
    min-height: 216px;
  }

  .places-visited__wrapper{
    padding-top: 10px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 61px;

    min-height: 145px;
  }
}
