.plus-list{
  font-family: 'PTSansWebRegular',Arial,sans-serif;
  font-size: 14px;
  line-height: 21px;

  text-transform: uppercase;
}

.plus-list__title{
  font-family: 'PTSansWebBold',Arial,sans-serif;
  font-size: 18px;
  line-height: 26px;

  text-transform: uppercase;
}

.plus-list__description{
  padding: 0;
  margin: 0;
}
