.represent{
  width: 320px;
  margin: 0 auto;

  font-family: 'PTSansWebRegular',Arial,sans-serif;
  font-size: 14px;
  line-height: 26px;

  background-color: #fff;
  color: #333;
}

.represent__wrapper{
  padding-left: 20px;
  padding-right: 20px;
}

.represent__turist{
  padding-top: 14px;
  padding-bottom: 26px;
}
.represent__contact{
  padding: 17px 0;
}
.represent__impress{
  padding-top: 18px;
  padding-bottom: 21px;
}

@media (min-width: $tablet-width){
  .represent{
    width: $tablet-width;
  }

  .represent__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-left: 60px;
    padding-right: 60px;
  }

  .represent__impress{
    width: 50%;
    flex-grow: 1;
    order: 1;
  }

  .represent__turist{
    width: 50%;
    order: 2;
  }
  .represent__contact{
    padding: 25px 0;
    flex-grow: 1;
    order: 3;
  }
}

@media (min-width: $desktop-width){
  .represent{
    width: $desktop-width;
  }

  .represent__wrapper{
    padding-left: 120px;
    padding-right: 120px;
  }

  .represent__impress,
  .represent__turist{
    min-height: 355px;
  }
}
