$bg-main:#f2f2f2;
$ft-main:#000;

$bg-menu: #fff;
$ft-menu: #000;
$ft-menu-hover:#81b3d2;
$ft-menu-down: #b2b2b2;
$ft-menu-active: #766357;
$ft-menu-active-hover: #604e43;
$ft-menu-active-down: #d6d0cc;

$bg-meaning:#fff;
$ft-meaning-text: #333;

$bg-city:#fff;
$ft-city-text: #333;

$bg-cause: #81b3d2;
$ft-cause: #fff;

$ft-others-cause:#000;
$ft-others-cause-text:#333;

$bg-hotel: #fff;
$ft-hotel:#000;
$ft-hotel-text:#333;

$bg-blue:#81b3d2;
$ft-blue:#fff;

$bg-blue-hover:#669ec0;
$ft-blue-hover:#fff;

$bg-blue-down:#5496bd;
$ft-blue-down:#88b6d1;

$bg-blue-disabled:#e5e5e5;
$ft-blue-disabled:#fff;

$bg-footer:#fff;

